{% extends "base.html" %}

{% block content %}
<div class="card p-4">
	{# <a href="{% url  %}"> #}
	<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-plus-circle" fill="currentColor"
		xmlns="http://www.w3.org/2000/svg">
		<path fill-rule="evenodd"
			d="M8 3.5a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5H4a.5.5 0 0 1 0-1h3.5V4a.5.5 0 0 1 .5-.5z" />
		<path fill-rule="evenodd" d="M7.5 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0V8z" />
		<path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
	</svg>
	{# </a> #}
	<div class="list-group">
		{% for instalacion in object_list %}
		<div class="list-group-item list-group-item-action flex-column align-items-start my-2" style="cursor: pointer;">
			<div class="d-flex w-100 justify-content-between">
				<h5 class="mb-1">Instalacion: {{ instalacion.fecha|date }}</h5>
				<h5 class="mb-1">Usuario: {{ instalacion.consumidor }}</h5>
			</div>
		</div>
		{% empty %}
		<h4>¡Lo sentimos!</h4>
		<h5>Usted aún no cuenta con instalaciones registradas.</h5>
		<a href="{% url 'creacion-usuario' %}">-> Crear usuario</a>
		{% endfor %}
	</div>
</div>
{% endblock content %}