{% extends "operador/base.html" %}

{% block content %}
<div class="card p-4">
	<h3>Tu listado de instalaciones:</h3>
	<a href="{% url 'creacion-usuario' %}" class="btn bg-primario "><b>Nueva Instalación +</b></a>
	<div class="list-group">
		{% for instalacion in object_list %}
		<div class="list-group-item list-group-item-action flex-column align-items-start my-2" style="cursor: pointer;">
			<div class="d-flex w-100 justify-content-between">
				<h5 class="mb-1"><b>Instalacion:</b> {{ instalacion.fecha|date }}</h5>
				<small><b>Folio:</b> {{ instalacion.folio }}</small>
			</div>
			<p class="mb-1"><b>Usuario:</b> {{ instalacion.consumidor }}</p>
		</div>
		{% empty %}
		<h4>¡Lo sentimos!</h4>
		<h5>Usted aún no cuenta con instalaciones registradas.</h5>
		<a href="{% url 'creacion-usuario' %}">-> Crear usuario</a>
		{% endfor %}
	</div>
</div>
{% endblock content %}