body {
    font-family: 'Roboto', sans-serif;
}

.bg-primario {
    background-color: rgb(201, 226, 233);
}

.bg-secundario {
    background-color: #9FA4A9;
    border-color: #9FA4A9;
    color: white;
}

.bg-fondo {
    background-color: #ceeff3;
}

.boton {
    border-radius: 25px;
}

video {
    width: 80%;
    margin-top: 30px;
    border-style: dotted;
    border-radius: 25px;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
}

#sidebar.active {
    margin-left: -250px;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#sidebar {
    /* don't forget to add all the previously mentioned styles here too */
    color: white;
    transition: all 0.3s;
    background: rgb(64 63 63);
}

#sidebar .sidebar-header {
    padding: 20px;
    background: black;
}

#sidebar ul.components {
    padding: 20px 0;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    background: rgb(109, 109, 109);
}

#sidebar ul li.active>a, a[aria-expanded="true"] {
    color: #fff;
    background: #49D49D;
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #49D49D;
    transition: 0s;
}

ul ul.show a {
    color: #ffffff;
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}

/* ---------------------------------------------------
      SIDEBAR STYLE
  ----------------------------------------------------- */

.wrapper {
    display: -webkit-box;
    display: flex;
    width: 100%;
}

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 15px 0;
}

#sidebar ul.components {
    padding: 20px 0;
}

#sidebar ul p {
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #fff;
}

#sidebar ul li.active>a, a[aria-expanded="true"] {
    color: #fff;
    background: rgb(109, 109, 109);
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: rgb(109, 109, 109);
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
}

a.article, a.article:hover {
    color: #fff !important;
}

/* ---------------------------------------------------
      CONTENT STYLE
  ----------------------------------------------------- */

.test {
    left: 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

#sidebarCollapse {
    width: 50px;
    margin: 0;
    display: inline-block;
    text-align: center;
    cursor: pointer;
}

/* ---------------------------------------------------
      MEDIAQUERIES
  ----------------------------------------------------- */

@media (max-width: 768px) {
    #content.active {
        filter: blur(3px);
    }
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    .navbar {
        left: 0;
    }
    .navbar.test {
        left: 250px;
    }
    #sidebarCollapse span {
        display: none;
    }
    #fondo {
        position: fixed;
        z-index: 1;
    }
}

@media (min-width: 768px) {
    #fondo {
        display: none;
    }
    #content {
        width: calc(100% - 250px);
        padding: 40px;
        padding-top: 100px;
        min-height: 100vh;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
        position: absolute;
        top: 0;
        right: 0;
    }
    #content.active {
        width: 100%;
    }
}

.fondo-negro {
    background: rgba(0, 0, 0, 0.6);
}

#fondo {
    transition: 0.3s;
}

.h-button {
    width: 250px;
    background: transparent;
    border: none;
    color: black;
    font-weight: bolder;
    font-size: 18px;
}