<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Geolocalización</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script type="text/javascript">
        // JavaScript source code
        var lat_cont;
        var lon_cont;
        function cargar() {
            var lat = document.getElementById("lat").value;
            var lon = document.getElementById("lon").value;
            //Opciones del mapa
            var OpcionesMapa = {
                center: new google.maps.LatLng(lat, lon),
                mapTypeId: google.maps.MapTypeId.ROADMAP, //ROADMAP  SATELLITE HYBRID TERRAIN
                zoom: 20
            };

            var miMapa;
            //constructor
            miMapa = new google.maps.Map(document.getElementById('mapa-dinamico'), OpcionesMapa);

            //Añadimos el marcador
            var Marcador = new google.maps.Marker({
                position: new google.maps.LatLng(lat, lon),
                map: miMapa,
                title: "Tus coordenadas"
            });
        }

        function CargaScript() {
            lat_cont = document.getElementById("lat");
            lon_cont = document.getElementById("lon");
            var script = document.createElement('script');
            script.src = 'https://maps.googleapis.com/maps/api/js?sensor=false&callback=cargar&key=AIzaSyCF1pVeqP7ihDYESHqcBD-te81dC-m7roI';
            document.body.appendChild(script);
            lat_cont.onchange = cargar;
            lon_cont.onchange = cargar;

            loadcoordinates(); // This will run on page load
            setInterval(function () {
                loadcoordinates() // this will run after every 5 seconds
            }, 5000);
        }

        function loadcoordinates() {
            $.get("https://rutas.radargas.com/ultima-posicion/", function (data) {
                lat_cont.value = data["lat"];
                lon_cont.value = data["lon"];
                cargar();
            });
        }

        window.onload = CargaScript;
    </script>
    <style type="text/css">
        #mapa-dinamico,
        #mapa-estatico {
            margin: auto;
            width: 80%;
            height: 500px;
        }
    </style>
</head>
<header>
    <h1>Geolocalización dinámica</h1>
</header>

<body>
    <div class="row">

        <div class="col-1"></div>
        <div class="col-10">
            <h2>Mapa dinámico</h2>
            <h4>Ubicación actual del dispositivo:</h4>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Latitud</span>
                </div>
                <input type="number" step=".01" value="21.9614463" class="form-control" id="lat"
                    aria-label="Introduzca la Latitud">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Longitud</span>
                </div>
                <input type="number" step=".01" value="-102.3458296" class="form-control" id="lon"
                    aria-label="Introduzca la Longitud">
            </div>
            <div id="mapa-dinamico"></div>
        </div>
        <div class="col-1"></div>
    </div>
</body>

</html>