{% extends template %}

{% block content %}
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6 card p-1">
        <h4 class="mt-4">Gráfica de tus consumos</h4>
        <div class="consumo-wrapper">

        </div>
        <h4 class="mt-3" id="fecha_estimada"></h4>
        <a class="btn bg-primario my-2" href="{% url 'pedido' %}">Agendar recarga de gas</a>
    </div>
    <div class="col-md-3"></div>
</div>
{% block scriptsnocompress %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.js"></script>
{% endblock scriptsnocompress %}
{% block scripts %}
<script type="text/javascript">
    var h = $(window).height();
    var w = $(window).width();
    // $("#consumo").css("height", "10px");
    if (h / w >= (4 / 3)) {
        $(".consumo-wrapper").html('<canvas id="consumo" height="120px" width="100%"></canvas>');
    } else {
        $(".consumo-wrapper").html('<canvas id="consumo" height="70px" width="100%"></canvas>');
    }

    var context = document.getElementById("consumo").getContext("2d");
    var l_inicial = Math.floor(Math.random() * 100);
    var arreglo = [];
    var fecha = new Date(2020, 08, 05);
    var meses = ["ENE", "FEB", "MAR", "ABR", "MAY", "JUN", "JUL", "AGO", "SEPT", "OCT", "NOV", "DIC"]

    function dateToString(fecha) {
        return fecha.getDate() + "-" + meses[fecha.getMonth() - 1]
    }

    function linearRegression(y, x) {
        var lr = {};
        var n = y.length;
        var sum_x = 0;
        var sum_y = 0;
        var sum_xy = 0;
        var sum_xx = 0;
        var sum_yy = 0;

        for (var i = 0; i < y.length; i++) {

            sum_x += x[i];
            sum_y += y[i];
            sum_xy += (x[i] * y[i]);
            sum_xx += (x[i] * x[i]);
            sum_yy += (y[i] * y[i]);
        }

        lr['slope'] = (n * sum_xy - sum_x * sum_y) / (n * sum_xx - sum_x * sum_x);
        lr['intercept'] = (sum_y - lr.slope * sum_x) / n;
        lr['r2'] = Math.pow((n * sum_xy - sum_x * sum_y) / Math.sqrt((n * sum_xx - sum_x * sum_x) * (n * sum_yy - sum_y * sum_y)), 2);

        return lr;
    }

    var rand = -Math.random() * 1 + .5;

    // Si inicio con un numero, es porque voy a restarle

    for (var i = 0; i < 60; i++) {
        var anterior = l_inicial;

        var rand = -(Math.random() * 2 + .5); // Esto es lo que voy a restarle.

        l_inicial += rand; // Ejecuto lo que será la resta.

        if (l_inicial < 0) {
            rand = Math.floor(Math.random() * 100);
            l_inicial = anterior + rand;
        }
        obj = [l_inicial, dateToString(fecha), rand];
        fecha = new Date(fecha.setHours(fecha.getHours() + 12));
        arreglo.push(obj);
    }

    var x = [];
    var y = [];
    var count = 0;

    var fechas = [];
    var lecturas = [];
    var fechas_predict = [];
    var lecturas_predict = [];
    var lecturas_predict_mas = [];
    var lecturas_predict_menos = [];
    var promedio = 0;

    for (var i = 0; i < arreglo.length; i++) {
        if (i >= 30) {
            lecturas.push(arreglo[i][0]);
            fechas.push(arreglo[i][1]);
            fechas_predict.push(arreglo[i][1]);
            lecturas_predict.push(arreglo[i][0]);
            lecturas_predict_mas.push(i == arreglo.length - 1 ? arreglo[i][0] : 0)
            lecturas_predict_menos.push(i == arreglo.length - 1 ? arreglo[i][0] : 0)
        }
        if (!(arreglo[i][2] > 0)) {
            x.push(count);
            count++;
            y.push(arreglo[i][2]);
            promedio += arreglo[i][2];
        }
    }

    promedio = promedio / count;
    var promedio_mas = promedio * 1.10;
    var promedio_menos = promedio * 0.9;

    var regresion = linearRegression(x, y);

    var res = l_inicial;
    var res_mas = l_inicial;
    var res_menos = l_inicial;
    var fecha_prediccion;
    var fecha_menos;
    var fecha_mas;

    var f_actual = fecha;

    for (var i = 0; res > 0 || res_mas > 0 || res_menos > 0; i++) {
        res += promedio;
        res_mas += promedio_mas;
        res_menos += promedio_menos;
        if (res > 0 && i < 30) {
            lecturas_predict.push(res);
        }
        if (res_mas > 0 && i < 30) {
            lecturas_predict_mas.push(res_mas);
        }
        if (res_menos > 0 && i < 30) {
            lecturas_predict_menos.push(res_menos);
            fechas.push(dateToString(fecha));
        }
        if (res > 0) {
            fecha_prediccion = dateToString(fecha);
        }
        if (res_mas > 0) {
            fecha_mas = dateToString(fecha);
        }
        fecha = new Date(fecha.setHours(fecha.getHours() + 12));
    }

    var grafica = new Chart(context, {
        type: "line",
        data: {
            labels: fechas,
            datasets: [{
                label: 'Lectura real',
                data: lecturas,
                backgroundColor: [
                    'rgba(99, 125, 255, 0.4)'
                ],
                borderWidth: 2
            }, {
                label: 'Pesimista',
                data: lecturas_predict_mas,
                type: "line",
                backgroundColor: "rgba(0,0,0, 0.4)",
                fill: "+1",
                borderColor: "rgba(0,0,0, 0.5)",
                borderDash: [10, 5],
                borderWidth: 1
            }, {
                label: 'Optimista',
                data: lecturas_predict_menos,
                type: "line",
                fill: false,
                borderColor: "rgba(0,0,0, 0.5)",
                backgroundColor: "transparent",
                borderDash: [10, 5],
                borderWidth: 1,
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }, elements: {
                point: {
                    radius: 0
                }
            }
        }
    });
    document.getElementById("fecha_estimada").innerHTML = `Tu gas se termina entre ${fecha_mas} y ${dateToString(fecha)}`;
</script>
{% endblock scripts %}
{% endblock content %}
