{% extends template %}

{% block content %}
<div class="row" id="dispositivo-holder" data-dispositivo="{{ dispositivo.wisol.serie }}">
    <div class="col-md-1"></div>
    <div class="col-md-10 card p-1">
        <h4 class="mt-4">Gráfica de tus consumos</h4>
        <div class="consumo-wrapper">

        </div>
        <h4 class="mt-3" id="fecha_estimada"></h4>
        <a class="btn bg-primario my-2" href="{% url 'pedido' %}">Agendar recarga de gas</a>
    </div>
    <div class="col-md-1"></div>
</div>
{% block scriptsnocompress %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.js"></script>
{% endblock scriptsnocompress %}
{% block scripts %}
<script type="text/javascript">
    var h = $(window).height();
    var w = $(window).width();
    // $("#consumo").css("height", "10px");
    if (h / w >= (4 / 3)) {
        $(".consumo-wrapper").html('<canvas id="consumo" height="120px" width="100%"></canvas>');
    } else {
        $(".consumo-wrapper").html('<canvas id="consumo" height="70px" width="100%"></canvas>');
    }

    var context = document.getElementById("consumo").getContext("2d");
    var arreglo = [];
    var meses = ["ENE", "FEB", "MAR", "ABR", "MAY", "JUN", "JUL", "AGO", "SEPT", "OCT", "NOV", "DIC"]

    function dateToString(fecha) {
        return fecha.getDate() + "-" + meses[fecha.getMonth()]
    }

    // Hacer petición AJAX
    var id_dispositivo = $("#dispositivo-holder").data("dispositivo");
    var fecha;
    $.get(`../iot/lecturas/?dispositivo=${id_dispositivo}&limit=60&offset=60/`, function (resultados) {
        resultados = resultados['results'];
        arreglo = [];
        for (var j = resultados.length - 1; j >= 0; j--) {
            var fecha_lectura = new Date(resultados[j]['fecha']);
            var obj = [parseFloat(resultados[j]['porcentaje']), dateToString(fecha_lectura)];
            arreglo.push(obj);
            if (j == 0) {
                fecha = fecha_lectura;
                generar_grafica();
                return false;
            }
        }
    });

    function generar_grafica() {
        var count = 0;
        var fechas = [];
        var lecturas = [];
        var fechas_predict = [];
        var lecturas_predict = [];
        var lecturas_predict_mas = [];
        var lecturas_predict_menos = [];
        var promedio = 0;

        for (var i = 0; i < arreglo.length; i++) {
            if (i >= arreglo.length / 2) {
                lecturas.push(arreglo[i][0]);
                fechas.push(arreglo[i][1]);
                fechas_predict.push(arreglo[i][1]);
                lecturas_predict.push(arreglo[i][0]);
                lecturas_predict_mas.push(i == arreglo.length - 1 ? arreglo[i][0] : 0)
                lecturas_predict_menos.push(i == arreglo.length - 1 ? arreglo[i][0] : 0)
            }
            if (i > 0 && (arreglo[i][0] - arreglo[i - 1][0]) < 0) {
                count++;
                promedio += (arreglo[i][0] - arreglo[i - 1][0]);
            }
        }

        promedio = promedio / count;
        var promedio_mas = promedio * 1.10;
        var promedio_menos = promedio * 0.9;

        var res = arreglo[arreglo.length - 1][0];
        var res_mas = arreglo[arreglo.length - 1][0];
        var res_menos = arreglo[arreglo.length - 1][0];

        var fecha_prediccion;
        var fecha_menos;
        var fecha_mas;

        for (var i = 0; res > 0 || res_mas > 0 || res_menos > 0; i++) {
            res += promedio;
            res_mas += promedio_mas;
            res_menos += promedio_menos;
            if (res > 0 && i < 30) {
                lecturas_predict.push(res);
            }
            if (res_mas > 0 && i < 30) {
                lecturas_predict_mas.push(res_mas);
            }
            if (res_menos > 0 && i < 30) {
                lecturas_predict_menos.push(res_menos);
                fechas.push(dateToString(fecha));
            }
            if (res > 0) {
                fecha_prediccion = dateToString(fecha);
            }
            if (res_mas > 0) {
                fecha_mas = dateToString(fecha);
            }
            fecha = new Date(fecha.setHours(fecha.getHours() + 24));
        }

        var grafica = new Chart(context, {
            type: "line",
            data: {
                labels: fechas,
                datasets: [{
                    label: 'Lectura real',
                    data: lecturas,
                    backgroundColor: [
                        'rgba(99, 125, 255, 0.4)'
                    ],
                    borderWidth: 2
                }, {
                    label: 'Pesimista',
                    data: lecturas_predict_mas,
                    type: "line",
                    backgroundColor: "rgba(0,0,0, 0.4)",
                    fill: "+1",
                    borderColor: "rgba(0,0,0, 0.5)",
                    borderDash: [10, 5],
                    borderWidth: 1
                }, {
                    label: 'Optimista',
                    data: lecturas_predict_menos,
                    type: "line",
                    fill: false,
                    borderColor: "rgba(0,0,0, 0.5)",
                    backgroundColor: "transparent",
                    borderDash: [10, 5],
                    borderWidth: 1,
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }, elements: {
                    point: {
                        radius: 0
                    }
                }
            }
        });
        document.getElementById("fecha_estimada").innerHTML = `Tu gas se termina entre ${fecha_mas == undefined ? dateToString(fecha) : fecha_mas} y ${dateToString(fecha)}`;
    }

</script>
{% endblock scripts %}
{% endblock content %}