{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6 card p-3">
        <h4 class="mt-4">Gráfica de tus consumos</h4>
        <canvas id="consumo" height="100px" width="100%"></canvas>
        <h4 class="mt-5" id="fecha_estimada"></h4>
        <a class="btn bg-primario my-2" href="#">Agendar recarga de gas</a>
    </div>
    <div class="col-md-3"></div>
</div>
{% block scriptsnocompress %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.js"></script>
{% endblock scriptsnocompress %}
{% block scripts %}
<script type="text/javascript">
    var context = document.getElementById("consumo").getContext("2d");
    var informacion = {
        ['15-jun', 54, 0],
    };
    var y = "-3*i+22.8";
    var z = [];
    var fechas = ['15-jun', '15-jun', '16-jun', '16-jun', '17-jun', '17-jun', '18-jun', '18-jun', '19-jun', '19-jun', '15-jun', '15-jun', '16-jun', '16-jun', '17-jun', '17-jun', '18-jun', '18-jun', '19-jun', '19-jun', '15-jun', '15-jun', '16-jun', '16-jun', '17-jun', '17-jun', '18-jun', '18-jun', '19-jun', '19-jun'];
    var tope = 0;
    for(var i=1; i<=30; i++) {
        if(!(eval(y)<0)){
            z.push(eval(y));
            tope = i+1;
        }
    }
    var grafica = new Chart(context, {
        type: "line",
        data: {
            labels: fechas,
            datasets: [{
                label: 'Tus medidas',
                data: [20, 16, 15, 10, 8],
                backgroundColor: [
                    'rgba(99, 125, 255, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderWidth: 1
            }, {
                label: 'Estimado por nosotros',
                data: z,
                backgroundColor: "rgba(100, 100, 100, 0.2)",
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });
    document.getElementById("fecha_estimada").innerHTML = `Tu gas se termina el día ${fechas[tope]}`;
</script>
{% endblock scripts %}
{% endblock content %}

<!-- https://mail-attachment.googleusercontent.com/attachment/u/0/?ui=2&ik=4ccc17d4cf&attid=0.1&permmsgid=msg-f:1666583434964318962&th=1720e4cddd993af2&view=att&disp=safe&saddbat=ANGjdJ_mW0-akGRdF7RubujYQINK1ENkSmhvdmk-J3CaFBTgTPduTgCOvb1Lr3TP-gPQgmvRPkGI23zq-wOIi9XKWDYgyLeDeNWC7Udn_HP94i1rgyrqNVq8oxymeepok_bn0S7egOT-lA6DwK84zuL33DQK0Vb6Bm2JDwVTkVgHz4_TVrUz_LO4qGHbzYzKfFF0_PflwcWs6ph-4LgSbQzzCiBK7HCxUZpMIj8p47Mz9RoXOZLO3UFDhrOxwp6sGvTPggskcTaUJ_gywb5YLPaPhBgcEeJAJQzPhdOJwFK9fUJB2KXGWY8cfjlTc2j4h0PIWvUaZceAPdB9RL6FnALSWU2AnG26JCPEUHqlHt0RwSwQIL-mPqyMgl6Nk-9dOFGWr56n9vqGE0lOc4PTaRfc6wQn16NEO3W-l85fdFeMAO7e_9PgsQifd-g2KaDcBwKd5m0r1eLgZW8KMRyL0nP1p2JdqmoOji4cHpzSmvfRoA7phiYUp05CRcKDVO-pvLbd3RZHAN1pe_xNDCJB0zFfjYKICfgfthUekStt4tls708c_h5_lU8H86NngyR_ofTdmw8BDgS_tg-lvkq8rVuntaBbp7yPxnzNb6KmH7osBuew80mOIarVCH5Oxeai0Rrif3OGCtPZkB3JrSFm64HNJEc1SP303lKbYlNATbkcvgAd-iQNYab7HKUT5EY -->
