{% extends "base.html" %}

{% block content %}
<h1>Este es el inicio.</h1>
{% endblock content %}

<!-- https://mail-attachment.googleusercontent.com/attachment/u/0/?ui=2&ik=4ccc17d4cf&attid=0.1&permmsgid=msg-f:1666583434964318962&th=1720e4cddd993af2&view=att&disp=safe&saddbat=ANGjdJ_mW0-akGRdF7RubujYQINK1ENkSmhvdmk-J3CaFBTgTPduTgCOvb1Lr3TP-gPQgmvRPkGI23zq-wOIi9XKWDYgyLeDeNWC7Udn_HP94i1rgyrqNVq8oxymeepok_bn0S7egOT-lA6DwK84zuL33DQK0Vb6Bm2JDwVTkVgHz4_TVrUz_LO4qGHbzYzKfFF0_PflwcWs6ph-4LgSbQzzCiBK7HCxUZpMIj8p47Mz9RoXOZLO3UFDhrOxwp6sGvTPggskcTaUJ_gywb5YLPaPhBgcEeJAJQzPhdOJwFK9fUJB2KXGWY8cfjlTc2j4h0PIWvUaZceAPdB9RL6FnALSWU2AnG26JCPEUHqlHt0RwSwQIL-mPqyMgl6Nk-9dOFGWr56n9vqGE0lOc4PTaRfc6wQn16NEO3W-l85fdFeMAO7e_9PgsQifd-g2KaDcBwKd5m0r1eLgZW8KMRyL0nP1p2JdqmoOji4cHpzSmvfRoA7phiYUp05CRcKDVO-pvLbd3RZHAN1pe_xNDCJB0zFfjYKICfgfthUekStt4tls708c_h5_lU8H86NngyR_ofTdmw8BDgS_tg-lvkq8rVuntaBbp7yPxnzNb6KmH7osBuew80mOIarVCH5Oxeai0Rrif3OGCtPZkB3JrSFm64HNJEc1SP303lKbYlNATbkcvgAd-iQNYab7HKUT5EY -->
