{% extends template %}

{% block content %}
{% load humanize %}
{% load lastprecio %}

<form method="POST">
    {% csrf_token %}
    <input class="d-none" type="number" value="{{ dispositivo.id }}" name="dispositivo">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6 card p-3" id="opciones-gas">
            {% if sucursales|length > 0 %}
            {% if dispositivo.pedido_set.last.estado == "FINALIZADO" %}
            <h4 class="mt-4">Genera tu pedido de gas</h4>
            <p class="my-2"><b>Gaseras locales:</b></p>
            <div class="row">
                <div class="col-1"></div>
                <div class="col-10">
                    <div id="carouselExampleControls" class="carousel slide my-2">
                        <div class="carousel-inner">
                            {% for sucursal in sucursales %}
                            <div class="carousel-item {% if forloop.first %} active {% endif %}" data-oferta="{{ forloop.counter0 }}">
                                <div class="card p-2 text-center">
                                    <!-- <img class="card-img-top my-2"
                                        style="max-width: 300px; max-height: 130px; margin: auto;" alt="First slide"
                                        src="https://facturasnoel.com/assets/facturacion//images/noel.png"> -->
                                    <div class="card-body">
                                        <h5 class="card-title my-2">{{ sucursal.gasera }}</h5>
                                        <p class="my-2"><b>${{ sucursal.numeroPermiso|lastprecio | intcomma }} por litro</b></p>
                                        <a href="#" id="oferta-{{ forloop.counter0 }}" class="btn bg-secundario selector"
                                            data-precio="{{ sucursal.numeroPermiso|lastprecio }}" data-id="{{ sucursal.sucursal_pk }}">Seleccionar</a>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            <!-- <span class="badge badge-pill badge-success">Mejor Oferta</span> -->
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                            <span style="filter: invert(1);" class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                            <span style="filter: invert(1);" class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                    <input class="d-none" id="sucursal" type="number" value="{{ sucursales.first.id }}" name="sucursal"></input>
                </div>
                <div class="col-1"></div>
            </div>
            <p class="my-2"><b>Elige cómo quieres hacer tu pedido:</b></p>
            <input class="d-none" type="number" id="tipo" name="tipo" value="1"></input>
            <div class="my-2">
                <div id="accordion">
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h5 class="mb-0">
                                <button type="button" class="btn btn-link setmanual" data-toggle="collapse" data-target="#collapseOne"
                                    aria-expanded="true" aria-controls="collapseOne">
                                    Por Litro / Costo
                                </button>
                            </h5>
                        </div>
                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                            <div class="card-body">
                                <label for="monto">Monto (MXN):</label>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">$</span>
                                    </div>
                                    <input id="monto" type="number" step="0.01" min="0.00" class="form-control"
                                        placeholder="Introduzca el monto a cargar" name="monto" required>
                                </div>
                                <label for="cantidad">Cantidad (l):</label>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Litros</span>
                                    </div>
                                    <input id="cantidad" type="number" step="0.01" min="0.00" class="form-control"
                                        placeholder="Introduzca la cantidad de gas a cargar" name="cantidad" required>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingTwo">
                            <h5 class="mb-0">
                                <button id="llenar" type="button" class="btn btn-link collapsed setauto" data-toggle="collapse"
                                    data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    Hasta llegar a 85%
                                </button>
                            </h5>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                            <div class="card-body">
                                <div class="d-none">
                                    <p class="my-2"><b>Considerando:</b></p>
                                    <b id="capacidad">{{ dispositivo.capacidad }}L</b>
                                    <b
                                        id="ultima-lectura">{{ dispositivo.lectura_set.last.porcentaje }}%</b>
                                    <b id="nivel-actual">55.98l</b><b id="nivel-faltante">66.34%</b>
                                </div>
                                {% if not dispositivo.lectura_set.exists %}
                                <p>Para utilizar esta opción es necesario que tu dispositivo haya emitido lecturas previamente.</p>
                                {% endif %}

                                {% if dispositivo.lectura_set.exists %}
                                <div>
                                {% else %}
                                <div class="d-none">
                                {% endif %}
                                    <i class="text-muted" style="font-size: 12px;"><b>¿Por qué al 85%?: </b> Es el límite seguro
                                        para cargar gas.</i><br>
                                    Para llegar al 85% necesitas <b id="gas-necesario">199.02l</b> de gas. <br>
                                    Total: <b id="monto-total">$4,203.30</b> MXN. <br>
                                    <b>¿Deseas pedirlo?</b>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button id="terminar-pedido" type="submit" class="btn bg-primario my-2">Terminar Pedido</button>
            {% else %}
            <h1><b>¡Vaya!</b></h1>
            <br>
            <p>Parece que estás intentando hacer un nuevo pedido pero tienes otro en camino, espera a que éste sea despachado para realizar otro.</p>
            {% endif %}
            {% else %}
            <h1><b>¡Vaya!</b></h1>
            <br>
            <p>Parece que aún Radargas no ha investigado las gaseras locales. En poco tiempo los tendrás disponibles.</p>
            {% endif %}
        </div>
        <div class="col-md-3"></div>
    </div>
</form>
{% block scriptsnocompress %}
{% endblock scriptsnocompress %}
{% block scripts %}
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<script type="text/javascript">
    $(window).on("load", function () {
        $("#accordion").on("shown.bs.collapse", function () {
            location.href = "#terminar-pedido";
        });
        $('#carouselExampleControls').carousel({
            interval: false,
        });
        generarNiveles(false);
        var factor; // Precio por litro.
        var ultimo_cambio = "monto";
        $("#monto").on("change keyup", function (evt) {
            factor = $("#oferta-" + $(".carousel-item.active").data("oferta")).data("precio");
            $("#cantidad, #id_cantidad").val((evt.target.value / factor).toFixed(2));
            ultimo_cambio = "monto";
        });
        $("#cantidad").on("change keyup", function (evt) {
            factor = $("#oferta-" + $(".carousel-item.active").data("oferta")).data("precio");
            $("#monto").val((evt.target.value * factor).toFixed(2));
            $("#id_cantidad").val(evt.target.value);
            ultimo_cambio = "cantidad";
        });
        $("#carouselExampleControls").on("slid.bs.carousel", function () {
            factor = $("#oferta-" + $(".carousel-item.active").data("oferta")).data("precio");
            $("#sucursal").val($("#oferta-" + $(".carousel-item.active").data("oferta")).data("id"));
            if (ultimo_cambio == "monto") {
                $("#cantidad, #id_cantidad").val(($("#monto").val() / factor).toFixed(2));
            } else if (ultimo_cambio == "cantidad") {
                $("#monto").val(($("#cantidad").val() * factor).toFixed(2));
                $("#id_cantidad").val($("#cantidad").val());
            }
            generarNiveles(false);
        });

        $(".setmanual").on("click", function(){
            $("#tipo").val(1);
        });

        $(".setauto").on("click", function(){
            $("#tipo").val(2);
            generarNiveles(true);
        });
    });

function generarNiveles(auto) {
        capacidad = parseInt($("#capacidad").html().split("L")[0].replace(",", ""));
        ultima_lectura = parseFloat($("#ultima-lectura").html().split("%")[0]);
        $("#nivel-actual").html((capacidad * (ultima_lectura / 100)).toFixed(2).toString() + "L");
        var nivel_faltante = (85 - ultima_lectura).toFixed(2);
        $("#nivel-faltante").html(nivel_faltante.toString() + "%");
        var gas_necesario = (capacidad * nivel_faltante / 100).toFixed(2);
        $("#gas-necesario").html(gas_necesario.toString() + "L");
        var factor = $("#oferta-" + $(".carousel-item.active").data("oferta")).data("precio");
        $("#monto-total").html("$" + (numberWithCommas((factor * gas_necesario).toFixed(2))).toString());
        if(!isNaN(gas_necesario) && auto) {
            $("#cantidad").val(gas_necesario);
            $("#monto").val((factor * gas_necesario).toFixed(2));
        }
    }
    function numberWithCommas(x) {
        return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    }
</script>
{% endblock scripts %}
{% endblock content %}