{% extends template %}

{% block content %}
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6 card p-3 d-none" id="opciones-gas">
        <h4 class="mt-4">Genera tu pedido de gas</h4>
        <p class="my-2"><b>Gaseras locales:</b></p>
        <div class="row">
            <div class="col-1"></div>
            <div class="col-10">
                <div id="carouselExampleControls" class="carousel slide my-2">
                    <div class="carousel-inner">
                        <div class="carousel-item active" data-oferta="0">
                            <div class="card p-2 text-center">
                                <img class="card-img-top my-2"
                                    style="max-width: 300px; max-height: 130px; margin: auto;" alt="First slide"
                                    src="https://facturasnoel.com/assets/facturacion//images/noel.png">
                                <div class="card-body">
                                    <h5 class="card-title my-2">Gas Noel</h5>
                                    <p class="my-2"><b>$20.12 por litro</b></p>
                                    <a href="#" id="oferta-0" class="btn bg-secundario selector"
                                        data-precio="20.12">Seleccionar</a>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item" data-oferta="1">
                            <div class="card p-2 text-center">
                                <img class="card-img-top my-2"
                                    style="max-width: 300px; max-height: 130px; margin: auto;" alt="First slide"
                                    src="https://gasimperialdgo.com/img/3513/650.png">
                                <div class="card-body">
                                    <h5 class="card-title my-2">Gas Imperial</h5>
                                    <p class="my-2"><b>$21.71 por litro</b></p>
                                    <a href="#" id="oferta-1" class="btn bg-secundario selector"
                                        data-precio="21.71">Seleccionar</a>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item" data-oferta="2">
                            <div class="card p-2 text-center">
                                <img class="card-img-top my-2"
                                    style="max-width: 300px; max-height: 130px; margin: auto;" alt="First slide"
                                    src="https://tarifasdeluz.mx/sites/default/files/images/gas-nieto.jpg">
                                <div class="card-body">
                                    <h5 class="card-title my-2">Gas Nieto <span
                                            class="badge badge-pill badge-success">Mejor Oferta</span></h5>
                                    <p class="my-2"><b>$18.12 por litro</b></p>
                                    <a href="#" id="oferta-2" class="btn bg-secundario selector"
                                        data-precio="18.12">Seleccionar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                        <span style="filter: invert(1);" class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                        <span style="filter: invert(1);" class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
            <div class="col-1"></div>
        </div>
        <p class="my-2"><b>Elige cómo quieres hacer tu pedido:</b></p>
        <div class="my-2">
            <div id="accordion">
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h5 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne"
                                aria-expanded="true" aria-controls="collapseOne">
                                Por Litro / Costo
                            </button>
                        </h5>
                    </div>

                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body">
                            <label for="monto">Monto (MXN):</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">$</span>
                                </div>
                                <input id="monto" type="number" step="0.01" min="0.00" class="form-control"
                                    placeholder="Introduzca el monto a cargar">
                            </div>
                            <label for="cantidad">Cantidad (l):</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Litros</span>
                                </div>
                                <input id="cantidad" type="number" step="0.01" min="0.00" class="form-control"
                                    placeholder="Introduzca la cantidad de gas a cargar">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingTwo">
                        <h5 class="mb-0">
                            <button id="llenar" class="btn btn-link collapsed" data-toggle="collapse"
                                data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Hasta llegar a 85%
                            </button>
                        </h5>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                        <div class="card-body">
                            <i class="text-muted" style="font-size: 12px;"><b>¿Por qué al 85%?: </b> Es el límite seguro
                                para cargar gas.</i>
                            <p class="my-2"><b>Considerando:</b></p>
                            Tu tanque estacionario tiene capacidad de <b id="capacidad">{{ dispositivo.capacidad }}L</b>
                            de gas. <br>
                            El porcentaje actual de tu tanque es: <b
                                id="ultima-lectura">{{ dispositivo.lectura_set.last.porcentaje }}%</b>. <br>
                            Entonces actualmente posees <b id="nivel-actual">55.98l</b> de gas. <br>
                            Por lo que necesitas actualmente <b id="nivel-faltante">66.34%</b> para llenar tu tanque.
                            <br>
                            Que son <b id="gas-necesario">199.02l</b> de gas. <br>
                            El monto total es: <b id="monto-total">$4,203.30</b> MXN. <br>
                            <b>¿Deseas pedirlo?</b>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="terminar-pedido" class="btn bg-primario my-2">Terminar Pedido</div>
    </div>
    <div class="col-md-6 card p-3" id="captcha-opciones">
        <h3>Primero verifica que no eres un robot</h3>
        <div class="g-recaptcha" data-sitekey="6LfuCRUUAAAAAO1wpAg_TX7TJNZTebOAsccNgKSD" data-callback="obtenerGaseras"></div>
    </div>
    <div class="col-md-3"></div>
</div>
{% block scriptsnocompress %}
{% endblock scriptsnocompress %}
{% block scripts %}
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<script type="text/javascript">
    $(window).on("load", function () {
        $("#accordion").on("shown.bs.collapse", function () {
            location.href = "#terminar-pedido";
        });
        $('#carouselExampleControls').carousel({
            interval: false,
        });
        generarNiveles();
        var factor; // Precio por litro.
        var ultimo_cambio = "monto";
        $("#monto").on("change keyup", function (evt) {
            factor = $("#oferta-" + $(".carousel-item.active").data("oferta")).data("precio");
            $("#cantidad, #id_cantidad").val((evt.target.value / factor).toFixed(2));
            ultimo_cambio = "monto";
        });
        $("#cantidad").on("change keyup", function (evt) {
            factor = $("#oferta-" + $(".carousel-item.active").data("oferta")).data("precio");
            $("#monto").val((evt.target.value * factor).toFixed(2));
            $("#id_cantidad").val(evt.target.value);
            ultimo_cambio = "cantidad";
        });
        $("#carouselExampleControls").on("slid.bs.carousel", function () {
            factor = $("#oferta-" + $(".carousel-item.active").data("oferta")).data("precio");
            if (ultimo_cambio == "monto") {
                $("#cantidad, #id_cantidad").val(($("#monto").val() / factor).toFixed(2));
            } else if (ultimo_cambio == "cantidad") {
                $("#monto").val(($("#cantidad").val() * factor).toFixed(2));
                $("#id_cantidad").val($("#cantidad").val());
            }
            generarNiveles();
        });
    });
    function obtenerGaseras(response) {
        if(response.length > 0){
            // entidad = document.getElementById("entidad").data["entidad"];
            // municipio = document.getElementById("entidad").data["municipio"];
            // localidad = document.getElementById("entidad").data["localidad"];
            // Lógica para obtener las gaseras.
            $.get( `https://api-reportediario.cre.gob.mx/api/PlantaDistribucion/precio?localidadId=2017&entidadId=01&municipioId=001&reCaptchaResponse=${ response }`, function( data ) {
                debugger;
                if(!data.Success || data.Errors.length>0){
                    console.log("recaptcha fallo");
                    for(var i=0; i<data.Errors; i++){
                        console.log(data.Errors[i]);
                    }
                }
                else{
                    console.log(data);
                }
                $("#opciones-gas").removeClass("d-none");
                $("#captcha-opciones").addClass("d-none");
            });

        } else {
            alert("No completaste el captcha de manera correcta.");
        }
    }
    function generarNiveles() {
        capacidad = parseInt($("#capacidad").html().split("L")[0].replace(",", ""));
        ultima_lectura = parseFloat($("#ultima-lectura").html().split("%")[0]);
        $("#nivel-actual").html((capacidad * (ultima_lectura / 100)).toFixed(2).toString() + "L");
        var nivel_faltante = (85 - ultima_lectura).toFixed(2);
        $("#nivel-faltante").html(nivel_faltante.toString() + "%");
        var gas_necesario = (capacidad * nivel_faltante / 100).toFixed(2);
        $("#gas-necesario").html(gas_necesario.toString() + "L");
        var factor = $("#oferta-" + $(".carousel-item.active").data("oferta")).data("precio");
        $("#monto-total").html("$" + (numberWithCommas((factor * gas_necesario).toFixed(2))).toString());
    }
    function numberWithCommas(x) {
        return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    }
</script>
{% endblock scripts %}
{% endblock content %}