{% extends template %}
{% load dashboard_tags hosts %}

{% block content %}
<div>
    <h2>Listado de dispositivos</h2>
    {% if object_list %}
    <div class="list-group">
        {% for dispositivo in object_list %}
        <div class="list-group-item list-group-item-action flex-column align-items-start my-2" style="cursor: pointer;" data-x="{{ dispositivo.location.x }}" data-y="{{ dispositivo.location.y }}">
            <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Dispositivo: {{ dispositivo.wisol.serie }}</h5>
            <small><a href="{% url 'users:user_detail' dispositivo.usuario.username %}">{{ dispositivo.usuario.username }}</a></small>
            </div>
            <a href="{% host_url 'dispositivo_detail' serie=dispositivo.wisol.serie host 'crm' %}" class="badge badge-pill badge-primary">Detalles</a>
            <a href="#" class="badge badge-{{ dispositivo.get_ultima_lectura.nivel | badge }}">Actual: {{ dispositivo.get_ultima_lectura.nivel }}%</a>
            <div class="w-100 map-container" style="transition: 0.3s;" data-expanded="false"></div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <h4>¡Lo sentimos!</h4><h5>Usted aún no cuenta con dispositivos registrados.</h5>
    {% endif %}
    {% if is_paginated %}
    <hr>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center pagination-sm">
            {% host_url 'dispositivo_list' host 'crm'  as dispositivolist %}
            {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="{{ dispositivolist }}?page={{ page_obj.previous_page_number }}" tabindex="-1">Previous</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1">Previous</a>
            </li>
            {% endif %} 
            {% for object in page_obj.paginator.page_range %}
                <li class="page-item"><a class="page-link" href="{{ dispositivolist }}?page={{ forloop.counter }}">{{ forloop.counter }}</a></li>
            {% endfor %} 
            {% if page_obj.has_next %}
            <li class="page-item">
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="#">Next</a>
            </li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>
{% endblock content %}
{% block scripts%}
<script>
    var map;
    var lat, lng;
    $(".list-group-item-action").on("click", function(evt){
        map = $(evt.currentTarget).find(".map-container")[0];
        if(map.dataset["expanded"] == "false") {
            $(evt.currentTarget).animate({"height": 300}, 200);
            map.style["height"] = "200px";
            lat = evt.currentTarget.dataset["y"];
            lng = evt.currentTarget.dataset["x"];
            var script = document.createElement('script');
            script.src = 'http://maps.googleapis.com/maps/api/js?sensor=false&callback=initMap&key=AIzaSyCF1pVeqP7ihDYESHqcBD-te81dC-m7roI';
            document.body.appendChild(script);
            map.dataset["expanded"] = "true";
        } else {
            if(!evt.currentTarget.querySelector('.gm-style').contains(event.target)){
                map.innerHTML = "";
                map.dataset["expanded"] = "false"
                $(evt.currentTarget).animate({"height": 100}, 200);
                map.style["height"] = "0px";
            }
        }
    });
    function initMap() {
        nuevo_mapa = new google.maps.Map(map, {
            zoom: 15,
            center: {lng: parseFloat(lng), lat: parseFloat(lat)}
        });

        marker = new google.maps.Marker({
            position: new google.maps.LatLng(parseFloat(lat), parseFloat(lng)),
            map: nuevo_mapa,
            title: "Ubicación"
        });
    }
</script>
{% endblock %}
